<% provide(:title, 'Home') %>

<%= link_to image_tag("sc.png", alt: "Rails"), 'http://searleconsulting.com/' %>

<% if signed_in? %>
  <div id="people" class="row">
      <%= render 'people/people' %>
  </div>
    <div>
      <%= form_tag people_path, :method => 'get', :remote => true do %>
        <% Tag.all.each do |a| %>
          <div>
            <%= check_box_tag("tags[]",a.id, false, :class => 'checkboxes') %>
            <%=h a.name %>
          </div>
        <% end %>
       <%=  submit_tag "Filter", :name => nil %>
      <% end %>
    </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome</h1>

    <h2>
      This is the CRM framework for the
      <a href="http://searleconsulting/">Searle Consulting</a>
       web app.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %> 