<% provide(:title, 'Home') %>

<%= link_to image_tag("sc.png", alt: "Rails"), 'http://searleconsulting.com/' %>

<% if signed_in? %>
    <br>
    <br>
    <div>
      <%= render 'shared/people_tag_filter' %>
    </div>
    <div id="people" class="row">
      <%= render 'people/people' %>
    </div>
    <div>    <%= link_to t('.new', :default => t("helpers.links.new")),
                         new_person_path,
                         :class => 'btn btn-primary' %></div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome</h1>

      <h2>
        This is the CRM framework for the
        <a href="http://searleconsulting/">Searle Consulting</a>
        web app.
      </h2>

      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>
<% end %> 