<%= form_for [@person, @activity = Activity.new], :remote => true, html: {"data-type" => :json} do |f| %>
    <div class="field">
      <%= f.label :shortname %><br />
      <%= f.text_field :shortname %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :targetdate %><br />
      <%= f.date_select :targetdate %>
    </div>
    <div class="field">
      <%= f.label :active %><br />
      <%= f.check_box :active %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% Tag.all.each do |tag| %>
    <div>
      <%= check_box_tag "activity[tag_ids][]", tag.id, @activity.tags.include?(tag) %>
      <%=  tag.name %>
    </div>
<% end %>
<% end %>
</div>




