<%= form_for @activity = Activity.new do |f| %>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :targetdate %><br />
  <%= f.date_select :targetdate %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% Tag.all.each do |tag| %>
    <div>
      <%= check_box_tag "activity[tag_ids][]", tag.id, @activity.tags.include?(tag) %>
      <%=  tag.name %>
    </div>
<% end %>
<% end %>
