<%= form_for @tag, :validate=>true do |f| %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tagtype, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tagtype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tagcolor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tagcolor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :userid, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :userid, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tags_path, :class => 'btn' %>
  </div>
<% end %>
