<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Tagtype:</b>
  <%= @tag.tagtype %>
</p>

<p>
  <b>Tagcolor:</b>
  <%= @tag.tagcolor %>
</p>

<p>
  <b>Userid:</b>
  <%= @tag.userid %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
