<h1>Activities</h1>

<table>
  <tr>
    <th>Shortname</th>
    <th>Description</th>
    <th>Targetdate</th>
    <th>Active</th>
    <th>Userid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.shortname %></td>
    <td><%= activity.description %></td>
    <td><%= activity.targetdate %></td>
    <td><%= activity.active %></td>
    <td><%= activity.userid %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if @person.nil? %>
<%= link_to 'New Activity', new_activity_path %>
<% else %>
<%= link_to 'New Activity', new_person_activity_path(@person) %>
<% end %>
